[submodule]
	fetchJobs = 4
[submodule "vendor/laytan/odin-http"]
	path = vendor/laytan/odin-http
	url = https://github.com/laytan/odin-http.git
[submodule "third_party/ntex"]
	path = third_party/ntex
	url = https://github.com/ntex-rs/ntex.git
[submodule "third_party/drogon"]
	path = third_party/drogon
	url = https://github.com/drogonframework/drogon.git
